<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <p>INSTRUCTIONS: The defendant in the case listed above has opted for trail by written declaration pursuant
                to
                Vehile
                Code section 40902. the officer named above shall check all statements taht apply, date and sign by the
                return date
                stated above.</p>
            <p> Except as expressly stated below, I have personal knowledge of the facts staed herein. The events
                occured in
                the
                County of: <input> </p>
            <p> at about the date, time and location stated in the citation.</p>

            <ol type="a">
                <li>
                    <input type="checkbox" id="time">
                    <label for="time">At the time of the citation I was a peace officer on-duty</label>
                    <br>
                    <input type="checkbox" id="for">
                    <label for="for">for the exclusive or main purpose of traffic enforcement</label>
                    <br>
                    <input type="checkbox" id="notfor">
                    <label for="notfor">not for the exclusive or main purpose of traffic enforcement,</label>
                    <input type="checkbox" id="was">
                    <label for="was">and I was wearing a uniform as required by the Vehicle section 40800.</label>
                    <br>
                    <input type="checkbox" id="wasnot">
                    <label for="wasnot">and I was not waering a uniform as required by the Vehicle section 40800. <br>
                        Any
                        vehicle used by me complied with Vehicle Code section 40800.</label>
                </li>
                <li>
                    <input type="checkbox" id="offense">
                    <label for="offense">The offense(s) were not committed in my presence.</label>
                </li>
            </ol>
        </div>
    </div>
</div>