<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
                <ol type="a" start="3">
                    <li>
                        <input type="checkbox" id="any">
                        <label for="any">Any statements(s) made by the defendant were voluntary recorded,</label>
                        <br>
                        <input type="checkbox" id="verbatim">
                        <label for="for">verbatim</label>
                        <br>
                        <input type="checkbox" id="notverbatim">
                        <label for="notverbatim">not verbatim</label>
                        <br>
                        <p>and is/are reasonably complete and accurate in substance</p>


                    </li>
                    <li>
                        <input type="checkbox" id="safety">
                        <label for="offense">Safety is an element of the violation alleged. In my opinion, the
                            defendant's operation of the vehicle was unsafe.</label>
                    </li>
                    <li>
                        <input type="checkbox" id="equipment">
                        
                        <label for="equipment">Any equipment used by me to gather evidence in support of this violation
                            was properly maintained, in good working order, and I have been trained in its used.</label>
                    </li>
                    <br>
                    <li>
                        <input type="checkbox" id="traffic">
                        <label for="traffic">Any traffic sign, signal, or device mentioned was official and properly
                            located, maintained, in good working order, and clearly visible to a driver fo a vehicle
                            controlled, governed, or affected by such a sign, signal, or device.</label>
                    </li>
                    <br>
                    <li>
                        <input type="checkbox" id="diagram">
                        <label for="diagram">Any diagram(s) submitted is/are not exact or to scale, but is/are
                            reasonably complete, accurate, and fairly depict(s) the location, situation, and events
                            describe.</label>
                    </li>
                </ol>
            </div>
        </div>
    </div>