<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project</title>
</head>

<body>
  <div class="wrappper">
    
    <div class="container">
      <div style="text-align:center">
        <h1>
          
        </h1>
      </div>
      <h3 style="text-align:center"> <a [routerLink]="['/pages/page_one']">Page One </a> | <a [routerLink]="['/pages/page_two']">Page Two </a> | <a [routerLink]="['/pages/page_three'] ">Page Three </a> | <a [routerLink]="['/pages/page_four'] ">Page Four </a> | <a [routerLink]="['/pages/page_five'] ">Page Five </a></h3> 
      
      <router-outlet></router-outlet>
      
    </div>
    
  </div>
  
</body>

</html>

