<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <ol type="a" start="8">
                <li>
                    <input type="checkbox" id="speed">
                    <label for="speed">Speed supported by the patrol vehicle's speedometer was a significant factor.
                        Pursuant to department policy, the patrol vehicle used in connection with this citaion was
                        offially calibrated on <input> (date):</label>
                    <br>
                    <label for="speed">the result was (specify): <input></label>
                    <br>
                    <label for="speed">The calibration was identified by me in determining defendant's speed.</label>

                    <br>
                <li>
                    <input type="checkbox" id="defendant">
                    <label for="defendant">Defendant was identified by</label>
                </li>
                <br>
                <input type=checkbox id="license">
                <label for="license">Driver's License</label>
                <br>
                <input type="checkbox" id="other">
                <label for="other">Or other (specify): <input></label>
            </ol>
            <h4>2. THE METHOD(S) USED TO DETERMIN THE SPEED OF THE INVOLVED VEHICLE WAS/WERE:</h4>
            <ol type="a">
                <li>
                    <input type="checkbox" id="odometer">
                    <label for="odometer">Odometer</label>
                </li>
                <br>
                <li>
                    <input type="checkbox" id="visual">
                    <label for="visual">Visual estimation</label>
                </li>
                <br>
                <li>
                    <input type="checkbox" id="pacing">
                    <label for="pacing">Pacing</label>
                </li>
                <br>
                <li>
                    <input type="checkbox" id="radar">
                    <label for="radar">Radar (see items 4, 5, 6, below)</label>
                </li>
                <li>
                    <input type="checkbox" id="laser">
                    <label for="laser">Laser</label>
                </li>
                <li>
                    <input type="checkbox" id="aircraft">
                    <label for="aircraft">Aircraft</label>
                </li>
                <li>
                    <input type="checkbox" id="other">
                    <label for="other">Other (specify) <input></label>
                </li>
            </ol>
        </div>
    </div>
</div>